.tox/
.idea/
.vscode/
static
__pycache__
src/conf/maintenance_mode_state.txt

# Ignore configuration file
docker/settings/
!docker/settings/settings.env.example

# Using this for pyenv in development environment.
.python-version
docker/compose-*

node_modules/

# A local folder that we use for easily move data dumps:
dumps/
