{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
{% image custom_project.main_section_image width-700 as bg_project_card %}

<main class="main project-detail">

  {% include '../../components/heading.html' %}

  {% if page.description %}
    {% include '../../components/block_text_center.html' %}
    <p>{{ page.description }}</p>
  {% endif %} 

  {% if images %}
  <section class="projects-detail__list grid-2">
    {% for item in images %}
      <p>Imatge: {% image item max-200x200 %}</p>
    {% endfor %}
  </section>
  {% endif %}

{% endblock %}
