// Dynamic variables
.empty-box {
  --height: 80px;
}
.header {
  --height-header: auto;
  --padding-header: 23px var(--padding-lg);
  --display-header: flex;
  --background-color: transparent;
  --display-menu: none;
  --flex-direction-menu: column;
  --display-topbar: flex;
  --stroke-color: var(--white);
  --fill-logo: var(--white);
  
  // Changes in header when menu opens
  &.is-open {
    --background-color: var(--white);
    --height-header: 100vh;
    --display-menu: flex;
    --flex-direction-menu: column;
    --display-topbar: none;
    --stroke-color: var(--blackish);
    --fill-logo: var(--blackish);
    --menu-action: block;
  }
  // Changes in header when we scroll down
  &.is-scrolled {
    --background-color: var(--white);
    --stroke-color: var(--blackish);
    --fill-logo: var(--blackish);
  }
}
.menu {
  &__bottom {
    --padding-bottom: var(--padding-lg);
    --flex-direction: column;
  }
}
.topbar {
  &__action {
    --width: var(--padding-md);
  }
}

@media (min-width: 1024px) {
  .empty-box {
    --height: 120px;
  }
  .header {
    --height-header: auto;
    --padding-header: var(--padding-xlg) var(--padding-xxlg);
    --display-menu: none;
    --flex-direction-menu: column;

    &.is-open {
      --height-header: auto;
      --menu-action: none;
      --display-menu: flex;
      --flex-direction-menu: row;
    }
  }
  .topbar {
    &__action {
      --width: var(--padding-lg);
    }
  }
  .menu {
    &__bottom {
      --padding-bottom: 0;
      --flex-direction: row;
    }
  }
}

// Layout

.empty-box {
  height: var(--height);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: var(--display-header);
  flex-direction: column;
  justify-content: space-between;

  height: var(--height-header);
  width: 100%;
  background-color: var(--background-color);
  padding: var(--padding-header);
  z-index: 100;
}

.topbar {
  display: var(--display-topbar);
  justify-content: space-between;

  &__logo svg { 
    fill: none;

    path, rect {
      fill: var(--fill-logo);
    }
  }
  &__action {
    width: var(--width);
    height: auto;
    cursor: pointer;
  }
  &__open {
    fill: none;
  
    path {
      stroke: var(--stroke-color);
      stroke-width: 3;
      stroke-linecap: square;
      stroke-linejoin: round;
    }
  }
}

.menu {
  display: var(--display-menu);
  flex-direction: var(--flex-direction-menu);
  justify-content: space-between;
  height: 100%;

  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__bottom {
    display: flex;
    flex-direction: var(--flex-direction);
    justify-content: flex-end;
    align-items: center;
    gap: var(--padding-sm) var(--padding-lg);
    padding-bottom: var(--padding-bottom);
  }
  &__action {
    display: var(--menu-action);
  }
  &__btn button { 
    font-weight: 500;
  }
  // &__logo { }
  // &__lang {  }
  &__lang-item { 
    text-transform: uppercase;
    
    &.is-active {
      font-weight: bold;
    }
  }
  &__lang-item + .menu__lang-item {
    &::before {
      content: "|";
      padding-right: var(--padding-xxsm);
    }
  }
  &__close {
    path {
      stroke: var(--stroke-color);
    }
  }
}
