// Dynamic variables
.empty-box {
  height: 80px;
}
.header {
  --height-header: auto;
  --padding-header: 23px var(--padding-lg);
  --display-header: flex;
  --background-color: transparent;
  --display-menu: none;
  --display-topbar: flex;
  --stroke-color: var(--white);
  --fill-logo: var(--white);

  // Changes in header when menu opens
  &.is-open {
    --background-color: var(--white);
    --height-header: 100vh;
    --display-menu: flex;
    --display-topbar: none;
    --stroke-color: var(--blackish);
    --fill-logo: var(--blackish);
  }
  // Changes in header when we scroll down
  &.is-scrolled {
    --background-color: var(--white);
    --stroke-color: var(--blackish);
    --fill-logo: var(--blackish);
  }
}
.topbar {
  &__action {
    --width: var(--padding-md);
  }
}

@media (min-width: 1024px) {
  .empty-box {
    height: 120px;
  }
  .header {
    --height-header: auto;
    --padding-header: var(--padding-xlg) var(--padding-xxlg);

    &.is-open {
      --height-header: auto;
    }
  }
  .topbar {
    &__action {
      --width: var(--padding-lg);
    }
  }
}

// Layout

.empty-box {
  height: var(--height);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: var(--display-header);
  flex-direction: column;
  justify-content: space-between;

  height: var(--height-header);
  width: 100%;
  background-color: var(--background-color);
  padding: var(--padding-header);
  z-index: 100;
}

.topbar {
  display: var(--display-topbar);
  justify-content: space-between;

  &__logo svg { 
    fill: none;

    path, rect {
      fill: var(--fill-logo);
    }
  }
  &__action {
    width: var(--width);
    height: auto;
    cursor: pointer;
  }
  &__open {
    fill: none;
  
    path {
      stroke: var(--stroke-color);
      stroke-width: 3;
      stroke-linecap: square;
      stroke-linejoin: round;
    }
  }
}

.menu {
  display: var(--display-menu);
  flex-direction: column;
  justify-content: space-between;

  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: var(--padding-sm) var(--padding-lg);
    padding-bottom: var(--padding-lg);
  }
  &__close {
    fill: none;
  
    path {
      stroke: var(--stroke-color);
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
  // &__logo { }
  // &__nav {  }
  // &__btn { }
  // &__lang {  }
  // &__lang-item {  }
}
