// Dynamic variables
.heading {
  --height: 440px;

  &__title {
    --padding-bottom: var(--padding-lg);
  }
}

@media (min-width: 1024px) {
  .heading {
  --height: 584px;

    &__title {
      --padding-bottom: 114px;
    }
  }
}

// Layout
.heading {
  display: flex;
  align-items: flex-end;
  height: var(--height);
  margin-top: -6px;
  background-image: var(--bg-heading);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  z-index: 1;
  
  &__title {
    padding-bottom: var(--padding-bottom);
    color: var(--white);
  }
}