<section class="block-text-left">
  <div class="grid-1">
    <div class="block-text-left__text grid-item-2-4 richtext">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque ratione autem iste velit error id aut animi nostrum a non. Itaque facilis quae fugiat aperiam. Doloribus inventore non est omnis!
        Ex harum architecto quia et atque modi provident nisi aspernatur odit nam, tempora cupiditate deleniti voluptas laboriosam! Explicabo, impedit quis! Nostrum rem voluptas eligendi architecto labore facere aut eum sapiente!
        Sunt ut fugit explicabo quibusdam vel nesciunt, aliquam, maxime vitae ad impedit veritatis sequi ex iure magnam natus aut quam laudantium tempora, necessitatibus accusantium earum distinctio ipsum. Soluta, ducimus libero.
        Aut reiciendis unde maxime, animi vitae nisi rerum molestias similique nobis ipsa nostrum harum quibusdam rem aliquid necessitatibus consequatur dicta repellat incidunt quidem labore? Impedit tempore quas harum dolore est.
      </p>
    </div>
  </div>
</section>