// Dynamic variables
.container-square-fullwidth-image {
  --aspect-ratio: 1 / 1;
  --height: auto;
}
.container-square-fullheight-image {
  --aspect-ratio: 1 / 1;
  --height: auto;
}

@media (min-width: 1024px) {
  .container-square-fullwidth-image {
    --aspect-ratio: auto;
    --height: 450px;
  }
  .container-square-fullheight-image {
    --aspect-ratio: auto;
    --height: 100vh;
  }
}

// Layout

.container-square-image {
  aspect-ratio: 1 / 1;

  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container-square-fullwidth-image {
  aspect-ratio: var(--aspect-ratio);
  height: var(--height);

  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container-square-fullheight-image {
  aspect-ratio: var(--aspect-ratio);
  height: var(--height);

  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

// Això manté la imatge quadrada amb un <img> però no
// funciona tan bé com l'altre
// .container-square-image {
//   aspect-ratio: 1 / 1;

//   img {
//     object-fit: cover;
//     object-position: 50% 50%;
//     max-width: none;
//     max-height: 100%;
//     margin-bottom: -6px;
//   }
// }