// Dynamic variables
.header {
  .nav {
    --flex-direction: column;
    --justify-content: center;

    &__link {
      --padding: 0 var(--padding-xlg);
    }
  }
}
.footer {
  .nav {
    --flex-direction: column;
    --justify-content: center;

    &__link {
      --padding: 0 var(--padding-xlg);
    }
  }
}

@media (min-width: 1024px) {
  .header {
    .nav {
      --flex-direction: row;
      --justify-content: flex-end;

      &__link {
        --padding: 0;
      }
    }
  }
  .footer {
    .nav {
      --flex-direction: row;
      --justify-content: flex-end;

      &__link {
        --padding: 0;
      }
    }
  }
}

// Layout

// Navegador del header
.header {
  .nav {
    display: flex;
    flex-direction: var(--flex-direction);
    gap: var(--padding-md) var(--padding-lg);
    justify-content: var(--justify-content);

    &__link {
      width: 100%;
      padding: var(--padding);
      margin-bottom: 0;
      text-align: center;
    }
  }
}
// Navegador del footer
.footer {
  .nav {
    display: flex;
    flex-direction: column;
    gap: var(--padding-sm);

    &__link {
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
}