// Dynamic variables
.project-card {
  &__label {
    --padding: var(--padding-sm) var(--padding-md) var(--padding-xlg) var(--padding-md);
  }
  &__arrow {
    --width: 25px;
    --bottom: 20px;
    --right: 20px;
  }
}

@media (min-width: 1024px) {
  .project-card {
    &__label {
      --padding: var(--padding-md) var(--padding-lg) var(--padding-xxlg) var(--padding-lg);
    }
    &__arrow {
      --width: 32px;
      --bottom: 26px;
      --right: 26px;
    }
  }
}

// Layout

.project-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  &:hover {
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
  }
  & + .project-card {
    margin-top: var(--padding-sm);
  }

  &__image {
    width: 100%;

    img {
      object-fit: cover;
    }
  }
  &__label {
    position: relative;
    height: 100%;
    padding: var(--padding);
  }
  &__title {
    text-transform: uppercase;
  }
  &__arrow {
    position: absolute;
    bottom: var(--bottom);
    right: var(--right);

    div {
      padding: var(--padding-xsm); // Ampliem l'area clickable del botó
    }

    img {
      width: var(--width);
    }
  }
}