// Estils per enllaços
.richtext {
  a {
    font-weight: bold;
    color: var(--brown);
  }
  // Estils per negretes
  b {
    font-weight: bold;
  }
  // Estils per cursives
  i {
    font-style: italic;
  }
  // Separació de paràgrafs de text
  p + p {
    padding-top: 1em;
  }
  // Títol gran
  h2 {
    padding-top: var(--padding-sm);
    padding-bottom: var(--padding-md);
  }
  h3 {
    padding-bottom: var(--padding-xsm);
  }
  ul {
    list-style: disc;
    padding-left: var(--padding-lg);
  }
}
