{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<!-- {# {% include '../components/heading.html' %}#} -->

  {% if page.can_display_header_highlight %}
  <h3>Destacat sobreposat al header</h3>
    {{ page.overlay_title }}
    {{ page.overlay_body|richtext }}
    <!--Canvia la mida de la imatge per la que toqui!-->
    {% image page.overlay_image width-400 %}
    {% if page.overlay_button_page and page.overlay_button_text %}
      <a href="{% pageurl page.overlay_button_page %}">{{ page.overlay_button_text }}</a>
    {% endif %}
  {% else %}
    <br><em>La home té configurada que no es mostri el destacat, o bé no té totes
les dades mínimes per mostrar el header (títol, text i imatge).</em>
  {% endif %}

  {% if page.display_collections_section %}
    <h3>Catàleg</h3>
      {% if page.display_collection_1 %}
        <a href="{% pageurl page.collection_1_page %}">
          <div>
            <p>{{ page.collection_1_title }}</p>
            <!--Canvia la mida de la imatge per la que toqui!-->
            {% image page.collection_1_image width-400 %}
          </div>
        </a>
      {% else %}
          <br><em>A la col·lecció 1 li falta alguna dada.</em>
      {% endif %}
      {% if page.display_collection_2 %}
        <a href="{% pageurl page.collection_2_page %}">
          <div>
            <p>{{ page.collection_2_title }}</p>
            <!--Canvia la mida de la imatge per la que toqui!-->
            {% image page.collection_2_image width-400 %}
          </div>
        </a>
      {% else %}
          <br><em>A la col·lecció 2 li falta alguna dada.</em>
      {% endif %}
      {% if page.display_collection_3 %}
        <a href="{% pageurl page.collection_3_page %}">
          <div>
            <p>{{ page.collection_3_title }}</p>
            <!--Canvia la mida de la imatge per la que toqui!-->
            {% image page.collection_3_image width-400 %}
          </div>
        </a>
      {% else %}
          <br><em>A la col·lecció 3 li falta alguna dada.</em>
      {% endif %}
    {% else %}
      <br><em>Cap de les 3 col·leccions té totes les dades, per tant no es mostra
      la secció Catàleg.</em>
    {% endif %}

  {% if page.display_custom_projects_section %}
    <h3>Projectes a mida</h3>
    <a href="{% pageurl page.custom_projects_page %}">
      <div>
        <p>{{ custom_projects_title }}</p>
        <!--Canvia la mida de la imatge per la que toqui!-->
        <p>Image: {% image page.custom_projects_image width-400 %}</p>
      </div>
    </a>
  {% else %}
    <br><em>El bloc "projectes a mida" no té totes les dades, per tant no el mostrem.</em>
  {% endif %}


  {% if page.display_instagram_feed %}
    <p>TO DO: script que inscrusti el feed d'instagram aquí.</p>
  {% endif %}

{% endblock %}
