{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n %}


{% block content %}

{% image page.overlay_image width-700 as bg_overlay %}
{% image page.collection_1_image width-700 as bg_collection_1 %}
{% image page.collection_2_image width-700 as bg_collection_2 %}
{% image page.collection_3_image width-700 as bg_collection_3 %}
{% image page.custom_projects_image width-700 as bg_custom %}

  <main class="main home grid-main">
    {% include '../components/heading.html' %}

    {% if page.can_display_header_highlight %}
    <section class="overlay grid-1">
      <h3 class="overlay__title title-2">
        {{ page.overlay_title }}
      </h3>
      <div class="overlay__content richtext">
        <div class="overlay__text">
          <p>{{ page.overlay_body|richtext }}</p>
        </div>
        <div class="overlay__button btn btn--light">
        {% if page.overlay_button_page and page.overlay_button_text %}
          <a href="{% pageurl page.overlay_button_page %}">
            {{ page.overlay_button_text }}
          </a>
        {% endif %}
        </div>
      </div>
      <div class="overlay__image">
        <div class="container-square-image" 
            style="--bg-image: url('{{ bg_overlay.url }}')"
        ></div>
      </div>
    </section>
    {% endif %}

    <section class="collections grid-3">
      {% if page.display_collections_section %}
        <h3 class="collections__title title-1--light">{% translate "Catalogue" %}</h3>
        {% if page.display_collection_1 %}
        <div class="collections__item">
          <a href="{% pageurl page.collection_1_page %}">
            <div class="collections__item-image">
              <div class="container-square-image" 
                  style="--bg-image: url('{{ bg_collection_1.url }}')"
              ></div>
            </div>
            <div class="collections__item-shade"></div>
            <div class="collections__item-title title-1">
              <p>{{ page.collection_1_title }}</p>
            </div>
          </a>
        </div>
        {% endif %}
        {% if page.display_collection_2 %}
        <div class="collections__item">
          <a href="{% pageurl page.collection_2_page %}">
            <div class="collections__item-image">
              <div class="container-square-image" 
                  style="--bg-image: url('{{ bg_collection_2.url }}')"
              >
              <div class="collections__item-shade"></div>
              </div>
            </div>
            <div class="collections__item-title title-1">
              <p>{{ page.collection_2_title }}</p>
            </div>
          </a>
        </div>
        {% endif %}
        {% if page.display_collection_3 %}
        <div class="collections__item">
          <a href="{% pageurl page.collection_3_page %}">
            <div class="collections__item-image">
              <div class="container-square-image" 
                  style="--bg-image: url('{{ bg_collection_3.url }}')"
              ></div>
            </div>
            <div class="collections__item-shade"></div>
            <div class="collections__item-title title-1">
              <p>{{ page.collection_3_title }}</p>
            </div>
          </a>
        </div>
        {% else %}
          <div class="collections__item-placeholder title-3">{% translate "One collection is missing some data, that's why we can't show it here. Go to the admin to fix it." %}</div>
        {% endif %}
        {% else %}
        <div class="collections__placeholder title-3">{% translate "None of the three collections have all the necessary data, that's why we can't show it here. Go to the admin to fix it." %}</div>
      {% endif %}
    </section>

    <section class="custom-projects grid-3">
    {% if page.display_custom_projects_section %}
      <h3 class="custom-projects__title title-1--light">{% translate "Custom projects" %}</h3>
      <div class="custom-projects__item">
        <a href="{% pageurl page.custom_projects_page %}">
          <div class="custom-projects__image" style="--bg-image: url('{{ bg_custom.url }}')"></div>
          <div class="custom-projects__item-title title-1">
            <p>{{ custom_projects_title }}</p>
          </div>
          <p>Image: {% image page.custom_projects_image width-700 %}</p>
        </a>
      </div>
    {% else %}
      <div class="custom-projects__placeholder title-3">{% translate "The block 'Custom projects' doesn't have all the necessary data, that's why we can't show it here. Go to the admin to fix it." %}</div>
    {% endif %}
    </section>

    <section class="instagram-feed grid-1">
      {% if page.display_instagram_feed %}
        <h3 class="instagram-feed__title title-1--light">{% translate "News" %}</h3>
        <div class="instagram-feed__placeholder title-3">{% translate "Configure the instagram feed in the admin so it is shown here" %}</div>
        <!-- TODO: Configure the instagram feed here -->
      {% endif %}
      </section>

  </main>

{% endblock %}
