{% load wagtailimages_tags i18n %}

{% image item.image width-700 as item_image %}
{% image item.image original as full_size_image %}

<div class="product-card grid-item-4">
  <div 
    class="product-card__image container-square-image" 
    style="--bg-image: url('{{ item_image.url }}')"
    onclick="openFullImage(event)"
  ></div>
  <div class="product-card__label">
    <div class="product-card__title">
      <p>{{ item.model }}</p>
    </div>
    <div class="product-card__text">
      {% for finishing in item.finishings.all %}
      <p>{{ finishing }}</p>
      {% endfor %}
    </div>
    <div class="product-card__text">
      {% for item_type in item.types.all %}
      <p>Item type: {{ item_type }}</p>
      {% endfor %}
    </div>
  </div>
  <div class="modal">
    <div class="modal__container">
      <div class="modal__icon" onclick="closeFullImage(event)">
        <svg 
        title="{% translate 'Icon to close the image overlay' %}"
        class="icon-close icon-24" 
        viewbox="0 0 24 24" 
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M17.7556 6L6.02222 18" />
        <path d="M6.02222 6L17.7556 18" />
      </svg>
      </div>
      <div class="modal__image">
        {% image item.image original %}
      </div>
    </div>
    <div class="modal__title title-3">
      <p>{{ item.model }}</p>
    </div>
  </div>
</div>

<!-- {# Modal que s'obrirà al fer click a la imatge #} -->


