{% load wagtailimages_tags %}

<div class="designer grid-3">
  {% if value.quote %}
  <div class="designer__quote">
    <quote>"{{ value.quote }}"</quote>
  </div>
  {% endif %}
  <div class="designer__image">
    {% image value.photo width-1000 %}
  </div>
  <div class="designer__info">
    <div class="designer__name title-1--light">
      <p>{{ value.name }}</p>
    </div>
    <div class="designer__role title-3">
      <p>{{ value.role }}</p>
    </div>
    <div class="designer__description">
      <p>{{ value.description }}</p>
    </div>
  </div>
</div>
