{% extends "base.html" %}
{% load wagtailcore_tags  wagtailimages_tags i18n %}

{% block content %}

<main class="main collection collection-designers">

  {% include '../../components/heading.html' %}

  <section class="collections-detail__nav">
    <div class="grid-1">
    {% for collection in collections %}
      <a class="collections-detail__nav-link grid-item-3" href="{% pageurl collection %}">
        <p>{{ collection.specific.title }}</p>
      </a>
    {% endfor %}
      <a class="collections-detail__nav-link grid-item-3 is-active" href="{% pageurl self %}">
        <p>{% translate 'The designers' %}</p>
      </a>
    </div>
  </section>
<!--
  <section class="collections-designers__list">
    {% for item in page.designers_list.all %}
      {% include "./block_designer.html" with item=item %}
    {% endfor %}
  </section> -->

  <section class="collections-designers__list">
    {{ page.designers_list }}
  </section>

</main>

{% endblock %}
