{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

<main class="main collection collection-designers">

  {% include '../../components/heading.html' %}
  
  <p>Links a altres col·leccions per muntar el menú:
    {% for collection in collections %}
      <a href="{% pageurl collection %}">{{ collection.specific.name }}</a>
    {% empty %}
      No hi ha cap altra col·lecció.
    {% endfor %}
    </p>

  <section class="collection__nav">
    <div class="grid-1">
      <a class="collection__nav-link grid-item-3">
        <div>
          <p>New Area Collection</p>
        </div>
      </a>
      <a class="collection__nav-link grid-item-3">
        <div>
          <p>Nordic Collection</p>
        </div>
      </a>
      <a class="collection__nav-link grid-item-3">
        <div>
          <p>Armaris Collection</p>
        </div>
      </a>
      <button class="collection__nav-btn grid-item-3">
        <p>Els dissenyadors</p>
      </button>
    </div>
  </section>

  <items_block>
    {{ page.designers_list }}
  </items_block>

  {% include '../../elements/social.html' %}

</main>

{% endblock %}
