{% extends "base.html" %}
{% load wagtailcore_tags  wagtailimages_tags i18n %}

{% block content %}

<main class="main collection collection-designers">

  {% include '../../components/heading.html' %}
  
  <section class="collections-detail__nav">
    <div class="grid-1">
    {# A l'enllaç actiu se li afegeix "is-active" #}
    {% for collection in collections %}
      <a class="collections-detail__nav-link grid-item-3 PET" href="{% pageurl collection %}">
        <p>{{ collection.specific.title }}</p>
      </a>
    {% endfor %}
    <!-- {% if designers_page %} -->
      <a class="collections-detail__nav-link grid-item-3 is-active" href="{% pageurl designers_page %}">
        <p>{% translate 'The designers' %}</p>
      </a>
    <!-- {% endif %} -->
    </div>
  </section>

  <section class="collections-designers__list">
    {{ page.designers_list }}
  </section>

</main>

{% endblock %}
