{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

<p>Page title (diria que aquesta dada és la que va al tag del header): {{ page.title }}</p>
<p>Name: {{ page.name }}</p>
{% if page.pdf.file %}
  <p>PDF: <a href="{{ page.pdf.file.url }}" target="_blank">Catàleg</a></p>
{% endif %}
<p>Description: {{ page.description }}</p>

<p>Links a altres col·leccions per muntar el submenú:
{% for collection in collections %}
  <a href="{% pageurl collection %}">{{ collection.specific.name }}</a>
{% empty %}
  No hi ha cap altra col·lecció.
{% endfor %}
</p>

<p>Link a la pàgina Dissenyadors, pel submenú:
{% if designers_page %}
  <a href="{% pageurl designers_page %}">Dissenyadors</a>
{% else %}
  <p><em>No hi ha pàgina de dissenyadors creada.</em></p>
{% endif %}
</p>

<h3>Filtres</h3>
<p>Idealment els filtres funcionaran amb react i per tant les opcions
disponibles caldrà passar-les a través de variables JS, però de moment
ho poso com a HTML per tenir un punt de partida.</p>
<p>Llistat dels Models:</p>
<ul>
  {% for model in available_models %}
  <li>{{ model }}</li>
  {% endfor %}
</ul>

<p>Llistat dels Tipus:</p>
<ul>
  {% for item_type in available_types %}
  <li>{{ item_type }}</li>
  {% endfor %}
</ul>

<p>Llistat dels Acabats:</p>
<ul>
  {% for finishing in available_finishings %}
  <li>{{ finishing }}</li>
  {% endfor %}
</ul>

<h3>Items/fotos de la col·lecció</h3>
<em>L'HTML de cada block és a cms_site/collections/block_item.html</em>
<items_block>
  {{ page.items_list }}
</items_block>

{% endblock %}
