:root {
  // Colors
  --white: #fff;
  --black: #000;
  --blackish: #303030;
  --grey: #808080;
  --brown: #745740;

  // Paddings
  --padding-base: 16px;

  --padding-xxsm: calc(var(--padding-base) / 3); // 5
  --padding-xsm: calc(var(--padding-base) / 2); // 8
  --padding-sm: var(--padding-base); // 16
  --padding-md: calc(var(--padding-base) * 1.5); // 24
  --padding-lg: calc(var(--padding-base) * 2); // 32
  --padding-xlg: calc(var(--padding-base) * 3); // 48
  --padding-xxlg: calc(var(--padding-base) * 4); // 64

}