// Dynamica variables
.about-us {
  &__intro {
    --padding-top: var(--padding-xxlg);
    --padding-bottom: var(--padding-xlg);
  }
  &__history {
    --padding-top: var(--padding-xlg);
  }
  &__history-title {
    --padding: 0 var(--padding-lg);
  }
}

@media (min-width: 1024px) {
  .about-us {
    &__intro {
      --padding-top: calc(var(--padding-base)*8);
      --padding-bottom: calc(var(--padding-base)*12);
    }
    &__history {
      --padding-top: var(--padding-xxlg);
    }
    &__history-title {
      --padding: 0 var(--padding-xxlg) 0 116px;
    }
  }  
}
// Layout
.about-us {
  .heading {
    .grid-1 {
      width: 100%;
    }
  }
  &__intro {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
  }
  &__history {
    padding-top: var(--padding-top);
  }
  &__history-title {
    text-transform: uppercase;
    padding: var(--padding);
  }
}
