// Especificitats de les pàgines de la col·lecció
// Dynamic variables

// Pàgina de portada de colleccions
.collections {
  --display: flex;
  --height: auto;

  &__item-title {
    --color: var(--white);
    --font-weight: 700;
  }
  .container-square-fullheight-image {
    --background-image-custom: var(--bg-image);
  }
  &__item-shade {
    --background-color-shade: black;
  }
  &__item {
    &:hover {
      .collections__item-title {
        --color: var(--white);
        --font-weight: 700;
      }
    }
    .container-square-fullheight-image {
      --background-image-custom: var(--bg-image);
    }
    &__item-shade {
      --background-color-shade: black;
    }
  }
}
// Pàgina de cada col·lecció
.collections-detail {
  &__nav {
    --padding-bottom: var(--padding-xlg);
  }
  &__nav-link {
    --padding: 0 var(--padding-sm) 11px var(--padding-sm);
  }
  &__intro-btn {
    --max-width: 350px;
  }
  &__filters { 
    --margin-top: var(--padding-xxlg);
    --margin-bottom: var(--padding-md);
  }
  &__filters-title {
    --padding-bottom: var(--padding-xsm);
  }
  &__product-list {
    --margin-bottom-card: var(--padding-xlg);
  }
  &__anchor {
    --display: block; 
  }
}
.collection-designers {
  .designer__info {
    --grid-column-odd: 2;
    --grid-column-even: 2;
  }
  .designer__image {
    --grid-column-odd: 1 / -1;
    --grid-column-even: 1 / -1;
  }
}

@media (min-width: 1024px) {
  // Pàgina de portada de colleccions
  .collections {
    --display: grid;
    --height: 100vh;

    .container-square-fullheight-image {
      --background-image-custom: none;
    }

    &__item-title {
      --color: var(--blackish);
      --font-weight: 300;
    }
    &__item-shade {
      --background-color-shade: white;
    }
    &__item {
      // Distributing the columns
      --grid-column: span 12;
  
      &.item-2 {
        --grid-column: span 6;
        
        &.item-3 {
          --grid-column: span 4;
        }
      }
      // Dealing with hover behaviour
      &:hover {
        .collections__item-title {
          --color: var(--white);
          --font-weight: 700;
        }
        .container-square-fullheight-image {
          --background-image-custom: var(--bg-image);
        }
        .collections__item-shade {
          --background-color-shade: black;
        }
      }
    }
  }
  // Pàgina de cada col·lecció
  .collections-detail {
    &__nav {
      --padding-bottom: 105px;
    }
    &__nav-link {
      --padding: 0 var(--padding-sm) var(--padding-sm) var(--padding-sm);
    }
    &__intro-btn {
      --max-width: none;
    }
    &__filters { 
      --margin-top: 126px;
      --margin-bottom: var(--padding-xxlg);
    }
    &__filters-title {
      --padding-bottom: 0;
    }
    &__product-list {
      --margin-bottom-card: var(--padding-xxlg);
    }
    &__anchor {
      --display: none; 
    }
  }
  .collection-designers {
    .designer__info {
      --grid-column-odd:  2 / span 5;
      --grid-column-even: 8 / span 5;
    }
    .designer__image {
      --grid-column-odd:  7 / span 6;
      --grid-column-even: 1 / span 6;
    }
  }
}

// Layout

.collections {
  display: var(--display);
  flex-direction: column;
  grid-template-columns: repeat(12, minmax(auto, 1fr));
  height: var(--height);

  &__item {
    grid-column: var(--grid-column);
    position: relative;
    overflow: clip;
  }
  &__item-image {
    img {
      margin-bottom: -5px;
    }
  }
  .container-square-fullheight-image {
    background-image: var(--background-image-custom);
  }
  &__item-shade {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background-color-shade);
    opacity: 0.3;
  }
  &__item-title {
    position: absolute;
    bottom: 0;
    left: var(--padding-lg);
    color: var(--color);
    max-width: 300px;
    font-weight: var(--font-weight);
  }
}

.collections-detail {
  position: relative;

  &__nav {
    padding-top: var(--padding-xlg);
    padding-bottom: var(--padding-bottom);

    .grid-1 {
      gap: var(--padding-sm);
    }
  }
  &__nav-link {
    width: 100%;
    text-align: center;
    font-weight: 500;

    p {
      display: inline-block;
      padding: var(--padding);
      margin-bottom: 0;
    }

    &.is-active {
      p {
        border-bottom: 2px solid var(--blackish);
      }
    }
  }
  // &__intro { }
  // &__intro-text {}
  &__intro-btn {
    margin-top: var(--padding-xsm);
    align-self: center;
    max-width: var(--max-width);
  }
  &__filters { 
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom)
  }
  &__filters-title {
    text-transform: uppercase;
    padding-bottom: var(--padding-bottom);
    p {
      margin-bottom: 0;
    }
  }
  &__product-list {
    margin-bottom: var(--margin-bottom-card);
  }
  &__anchor {
    position: fixed;
    bottom: var(--padding-lg);
    right: var(--padding-lg);

    display: var(--display);
  }
}

.collection-designers {
  .grid-3 {
    align-items: center;
  }
  // Odd number elements are aligned differently than even ones
  & div.block-item:nth-child(odd) {
    .designer__info {
      grid-column: var(--grid-column-odd);
    }
    .designer__image {
      grid-column: var(--grid-column-odd);
    }
  }
  & div.block-item:nth-child(even) {
    .designer__info {
      grid-column: var(--grid-column-even);
    }
    .designer__image {
      grid-column: var(--grid-column-even);
    }
  }
}